# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge of one-to-many and many-to-many relationships!

## Objectives

You will be able to:

* Explain one-to-many and many-to-many joins as well as implications for the size of query results
* Query data using one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='https://curriculum-content.s3.amazonaws.com/data-science/images/Database-Schema.png' width="600">

## Connect to the Database

Include the relevant imports, then connect to the database located at `data.sqlite`.

In [2]:
import sqlite3
db = sqlite3.connect('data.sqlite')
cur=db.cursor()

## Employees and Their Offices (a One-to-One Join)

Select all of the employees including their first name and last name along with the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [5]:
cur.execute('''
    SELECT e.firstName, e.lastName, o.city,o.state
    FROM employees e 
    JOIN offices o ON e.officeCode = o.officeCode
    ORDER BY firstName, lastName
    
    ''').fetchall()

[('Andy', 'Fixter', 'Sydney', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Barry', 'Jones', 'London', ''),
 ('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Larry', 'Bott', 'London', ''),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', ''),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Tom', 'King', 'Sydney', ''),
 ('William', 'Patterson', 'Sydney', ''),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku')]

## Customers and Their Orders (a One-to-Many Join)

Select all of the customer contacts (first and last names) along with details for each of the customers' order numbers, order dates, and statuses.

In [6]:
cur.execute('''
    SELECT c.contactFirstName, c.contactLastName, o.orderNumber ,o.orderDate , o.status
    FROM customers c
    JOIN orders o ON c.customerNumber = o.customerNumber
    
    ''').fetchall()

[('Carine ', 'Schmitt', 10123, '2003-05-20', 'Shipped'),
 ('Carine ', 'Schmitt', 10298, '2004-09-27', 'Shipped'),
 ('Carine ', 'Schmitt', 10345, '2004-11-25', 'Shipped'),
 ('Jean', 'King', 10124, '2003-05-21', 'Shipped'),
 ('Jean', 'King', 10278, '2004-08-06', 'Shipped'),
 ('Jean', 'King', 10346, '2004-11-29', 'Shipped'),
 ('Peter', 'Ferguson', 10120, '2003-04-29', 'Shipped'),
 ('Peter', 'Ferguson', 10125, '2003-05-21', 'Shipped'),
 ('Peter', 'Ferguson', 10223, '2004-02-20', 'Shipped'),
 ('Peter', 'Ferguson', 10342, '2004-11-24', 'Shipped'),
 ('Peter', 'Ferguson', 10347, '2004-11-29', 'Shipped'),
 ('Janine ', 'Labrune', 10275, '2004-07-23', 'Shipped'),
 ('Janine ', 'Labrune', 10315, '2004-10-29', 'Shipped'),
 ('Janine ', 'Labrune', 10375, '2005-02-03', 'Shipped'),
 ('Janine ', 'Labrune', 10425, '2005-05-31', 'In Process'),
 ('Jonas ', 'Bergulfsen', 10103, '2003-01-29', 'Shipped'),
 ('Jonas ', 'Bergulfsen', 10158, '2003-10-10', 'Shipped'),
 ('Jonas ', 'Bergulfsen', 10309, '2004-10-15', 'Shipped'),
 ('Jonas ', 'Bergulfsen', 10325, '2004-11-05', 'Shipped'),
 ('Susan', 'Nelson', 10113, '2003-03-26', 'Shipped'),
 ('Susan', 'Nelson', 10135, '2003-07-02', 'Shipped'),
 ('Susan', 'Nelson', 10142, '2003-08-08', 'Shipped'),
 ('Susan', 'Nelson', 10182, '2003-11-12', 'Shipped'),
 ('Susan', 'Nelson', 10229, '2004-03-11', 'Shipped'),
 ('Susan', 'Nelson', 10271, '2004-07-20', 'Shipped'),
 ('Susan', 'Nelson', 10282, '2004-08-20', 'Shipped'),
 ('Susan', 'Nelson', 10312, '2004-10-21', 'Shipped'),
 ('Susan', 'Nelson', 10335, '2004-11-19', 'Shipped'),
 ('Susan', 'Nelson', 10357, '2004-12-10', 'Shipped'),
 ('Susan', 'Nelson', 10368, '2005-01-19', 'Shipped'),
 ('Susan', 'Nelson', 10371, '2005-01-23', 'Shipped'),
 ('Susan', 'Nelson', 10382, '2005-02-17', 'Shipped'),
 ('Susan', 'Nelson', 10385, '2005-02-28', 'Shipped'),
 ('Susan', 'Nelson', 10390, '2005-03-04', 'Shipped'),
 ('Susan', 'Nelson', 10396, '2005-03-23', 'Shipped'),
 ('Susan', 'Nelson', 10421, '2005-05-29', 'In Process'),
 ('Roland', 'Keitel', 10101, '2003-01-09', 'Shipped'),
 ('Roland', 'Keitel', 10230, '2004-03-15', 'Shipped'),
 ('Roland', 'Keitel', 10300, '2003-10-04', 'Shipped'),
 ('Roland', 'Keitel', 10323, '2004-11-05', 'Shipped'),
 ('Julie', 'Murphy', 10111, '2003-03-25', 'Shipped'),
 ('Julie', 'Murphy', 10201, '2003-12-01', 'Shipped'),
 ('Julie', 'Murphy', 10333, '2004-11-18', 'Shipped'),
 ('Kwai', 'Lee', 10107, '2003-02-24', 'Shipped'),
 ('Kwai', 'Lee', 10248, '2004-05-07', 'Cancelled'),
 ('Kwai', 'Lee', 10292, '2004-09-08', 'Shipped'),
 ('Kwai', 'Lee', 10329, '2004-11-15', 'Shipped'),
 ('Diego ', 'Freyre', 10104, '2003-01-31', 'Shipped'),
 ('Diego ', 'Freyre', 10128, '2003-06-06', 'Shipped'),
 ('Diego ', 'Freyre', 10133, '2003-06-27', 'Shipped'),
 ('Diego ', 'Freyre', 10153, '2003-09-28', 'Shipped'),
 ('Diego ', 'Freyre', 10156, '2003-10-08', 'Shipped'),
 ('Diego ', 'Freyre', 10190, '2003-11-19', 'Shipped'),
 ('Diego ', 'Freyre', 10203, '2003-12-02', 'Shipped'),
 ('Diego ', 'Freyre', 10205, '2003-12-03', 'Shipped'),
 ('Diego ', 'Freyre', 10212, '2004-01-16', 'Shipped'),
 ('Diego ', 'Freyre', 10244, '2004-04-29', 'Shipped'),
 ('Diego ', 'Freyre', 10246, '2004-05-05', 'Shipped'),
 ('Diego ', 'Freyre', 10262, '2004-06-24', 'Cancelled'),
 ('Diego ', 'Freyre', 10279, '2004-08-09', 'Shipped'),
 ('Diego ', 'Freyre', 10311, '2004-10-16', 'Shipped'),
 ('Diego ', 'Freyre', 10350, '2004-12-02', 'Shipped'),
 ('Diego ', 'Freyre', 10355, '2004-12-07', 'Shipped'),
 ('Diego ', 'Freyre', 10358, '2004-12-10', 'Shipped'),
 ('Diego ', 'Freyre', 10378, '2005-02-10', 'Shipped'),
 ('Diego ', 'Freyre', 10379, '2005-02-10', 'Shipped'),
 ('Diego ', 'Freyre', 10380, '2005-02-16', 'Shipped'),
 ('Diego ', 'Freyre', 10383, '2005-02-22', 'Shipped'),
 ('Diego ', 'Freyre', 10386, '2005-03-01', 'Resolved'),
 ('Diego ', 'Freyre', 10394, '2005-03-15', 'Shipped'),
 ('Diego ', 'Freyre', 10412, '2005-05-03', 'Shipped'),
 ('Diego ', 'Freyre', 10417, '2005-05-13', 'Disputed'),
 ('Diego ', 'Freyre', 10424, '2005-05-31', 'In Process'),
 ('Christina ', 'Berglund', 10112, '2003-03-24', 'Shipped'),
 ('Christina ', 'Berglund', 10320, '2004-11-03', 'Shipped'),
 ('Christina ', 'Berglund', 10326, '2004-11-09', 'Shipped'),
 ('Christina ', 'Berglund', 10334, '2004-11-19', 'On Hold'),
 ('Jytte ', 'Petersen', 10105, '2003-02-11', 'Shipped'),
 ('Jytte ', 'Petersen', 10238, '2004-04-09', 'Shipped'),
 ('Jytte ', 'Petersen', 10256, '2004-06-08', 'Shipped'),
 ('Jytte ', 'Petersen', 10327, '2004-11-10', 'Resolved'),
 ('Jytte ', 'Petersen', 10406, '2005-04-15', 'Disputed'),
 ('Mary ', 'Saveley', 10194, '2003-11-25', 'Shipped'),
 ('Mary ', 'Saveley', 10208, '2004-01-02', 'Shipped'),
 ('Mary ', 'Saveley', 10227, '2004-03-02', 'Shipped'),
 ('Eric', 'Natividad', 10117, '2003-04-16', 'Shipped'),
 ('Eric', 'Natividad', 10150, '2003-09-19', 'Shipped'),
 ('Eric', 'Natividad', 10165, '2003-10-22', 'Shipped'),
 ('Eric', 'Natividad', 10277, '2004-08-04', 'Shipped'),
 ('Eric', 'Natividad', 10387, '2005-03-02', 'Shipped'),
 ('Jeff', 'Young', 10127, '2003-06-03', 'Shipped'),
 ('Jeff', 'Young', 10204, '2003-12-02', 'Shipped'),
 ('Jeff', 'Young', 10267, '2004-07-07', 'Shipped'),
 ('Jeff', 'Young', 10349, '2004-12-01', 'Shipped'),
 ('Kelvin', 'Leong', 10272, '2004-07-20', 'Shipped'),
 ('Kelvin', 'Leong', 10281, '2004-08-19', 'Shipped'),
 ('Kelvin', 'Leong', 10318, '2004-11-02', 'Shipped'),
 ('Kelvin', 'Leong', 10422, '2005-05-30', 'In Process'),
 ('Juri', 'Hashimoto', 10140, '2003-07-24', 'Shipped'),
 ('Juri', 'Hashimoto', 10168, '2003-10-28', 'Shipped'),
 ('Juri', 'Hashimoto', 10317, '2004-11-02', 'Shipped'),
 ('Juri', 'Hashimoto', 10362, '2005-01-05', 'Shipped'),
 ('Wendy', 'Victorino', 10217, '2004-02-04', 'Shipped'),
 ('Wendy', 'Victorino', 10259, '2004-06-15', 'Shipped'),
 ('Wendy', 'Victorino', 10288, '2004-09-01', 'Shipped'),
 ('Wendy', 'Victorino', 10409, '2005-04-23', 'Shipped'),
 ('Veysel', 'Oeztan', 10181, '2003-11-12', 'Shipped'),
 ('Veysel', 'Oeztan', 10188, '2003-11-18', 'Shipped'),
 ('Veysel', 'Oeztan', 10289, '2004-09-03', 'Shipped'),
 ('Martine ', 'Rancé', 10180, '2003-11-11', 'Shipped'),
 ('Martine ', 'Rancé', 10224, '2004-02-21', 'Shipped'),
 ('Marie', 'Bertrand', 10114, '2003-04-01', 'Shipped'),
 ('Marie', 'Bertrand', 10286, '2004-08-28', 'Shipped'),
 ('Marie', 'Bertrand', 10336, '2004-11-20', 'Shipped'),
 ('Jerry', 'Tseng', 10228, '2004-03-10', 'Shipped'),
 ('Jerry', 'Tseng', 10249, '2004-05-08', 'Shipped'),
 ('Julie', 'King', 10172, '2003-11-05', 'Shipped'),
 ('Julie', 'King', 10263, '2004-06-28', 'Shipped'),
 ('Julie', 'King', 10413, '2005-05-05', 'Shipped'),
 ('Mory', 'Kentary', 10210, '2004-01-12', 'Shipped'),
 ('Mory', 'Kentary', 10240, '2004-04-13', 'Shipped'),
 ('Michael', 'Frick', 10102, '2003-01-10', 'Shipped'),
 ('Michael', 'Frick', 10237, '2004-04-05', 'Shipped'),
 ('Michael', 'Frick', 10324, '2004-11-05', 'Shipped'),
 ('Matti', 'Karttunen', 10155, '2003-10-06', 'Shipped'),
 ('Matti', 'Karttunen', 10299, '2004-09-30', 'Shipped'),
 ('Matti', 'Karttunen', 10377, '2005-02-09', 'Shipped'),
 ('Rachel', 'Ashworth', 10110, '2003-03-18', 'Shipped'),
 ('Rachel', 'Ashworth', 10306, '2004-10-14', 'Shipped'),
 ('Rachel', 'Ashworth', 10332, '2004-11-17', 'Shipped'),
 ('Dean', 'Cassidy', 10220, '2004-02-12', 'Shipped'),
 ('Dean', 'Cassidy', 10297, '2004-09-16', 'Shipped'),
 ('Leslie', 'Taylor', 10130, '2003-06-16', 'Shipped'),
 ('Leslie', 'Taylor', 10290, '2004-09-07', 'Shipped'),
 ('Leslie', 'Taylor', 10352, '2004-12-03', 'Shipped'),
 ('Elizabeth', 'Devon', 10253, '2004-06-01', 'Cancelled'),
 ('Elizabeth', 'Devon', 10302, '2003-10-06', 'Shipped'),
 ('Elizabeth', 'Devon', 10403, '2005-04-08', 'Shipped'),
 ('Yoshi ', 'Tamuri', 10206, '2003-12-05', 'Shipped'),
 ('Yoshi ', 'Tamuri', 10313, '2004-10-22', 'Shipped'),
 ('Miguel', 'Barajas', 10276, '2004-08-02', 'Shipped'),
 ('Miguel', 'Barajas', 10294, '2004-09-10', 'Shipped'),
 ('Julie', 'Young', 10145, '2003-08-25', 'Shipped'),
 ('Julie', 'Young', 10189, '2003-11-18', 'Shipped'),
 ('Julie', 'Young', 10367, '2005-01-12', 'Resolved'),
 ('Frédérique ', 'Citeaux', 10241, '2004-04-13', 'Shipped'),
 ('Frédérique ', 'Citeaux', 10255, '2004-06-04', 'Shipped'),
 ('Frédérique ', 'Citeaux', 10405, '2005-04-14', 'Shipped'),
 ('Mike', 'Gao', 10187, '2003-11-15', 'Shipped'),
 ('Mike', 'Gao', 10200, '2003-12-01', 'Shipped'),
 ('Eduardo ', 'Saavedra', 10118, '2003-04-21', 'Shipped'),
 ('Eduardo ', 'Saavedra', 10197, '2003-11-26', 'Shipped'),
 ('Eduardo ', 'Saavedra', 10340, '2004-11-24', 'Shipped'),
 ('Mary', 'Young', 10154, '2003-10-02', 'Shipped'),
 ('Mary', 'Young', 10376, '2005-02-08', 'Shipped'),
 ('Palle', 'Ibsen', 10161, '2003-10-17', 'Shipped'),
 ('Palle', 'Ibsen', 10314, '2004-10-22', 'Shipped'),
 ('Jean ', 'Fresnière', 10171, '2003-11-05', 'Shipped'),
 ('Jean ', 'Fresnière', 10261, '2004-06-17', 'Shipped'),
 ('Jean ', 'Fresnière', 10411, '2005-05-01', 'Shipped'),
 ('Valarie', 'Thompson', 10222, '2004-02-19', 'Shipped'),
 ('Valarie', 'Thompson', 10226, '2004-02-26', 'Shipped'),
 ('Helen ', 'Bennett', 10232, '2004-03-20', 'Shipped'),
 ('Helen ', 'Bennett', 10316, '2004-11-01', 'Shipped'),
 ('Annette ', 'Roulet', 10136, '2003-07-04', 'Shipped'),
 ('Annette ', 'Roulet', 10178, '2003-11-08', 'Shipped'),
 ('Annette ', 'Roulet', 10397, '2005-03-28', 'Shipped'),
 ('Paolo ', 'Accorti', 10280, '2004-08-17', 'Shipped'),
 ('Paolo ', 'Accorti', 10293, '2004-09-09', 'Shipped'),
 ('Daniel', 'Da Silva', 10134, '2003-07-01', 'Shipped'),
 ('Daniel', 'Da Silva', 10356, '2004-12-09', 'Shipped'),
 ('Daniel', 'Da Silva', 10395, '2005-03-17', 'Shipped'),
 ('Daniel ', 'Tonini', 10216, '2004-02-02', 'Shipped'),
 ('Daniel ', 'Tonini', 10304, '2004-10-11', 'Shipped'),
 ('Henriette ', 'Pfalzheim', 10191, '2003-11-20', 'Shipped'),
 ('Henriette ', 'Pfalzheim', 10310, '2004-10-16', 'Shipped'),
 ('Elizabeth ', 'Lincoln', 10235, '2004-04-02', 'Shipped'),
 ('Elizabeth ', 'Lincoln', 10283, '2004-08-20', 'Shipped'),
 ('Anna', "O'Hara", 10148, '2003-09-11', 'Shipped'),
 ('Anna', "O'Hara", 10169, '2003-11-04', 'Shipped'),
 ('Anna', "O'Hara", 10370, '2005-01-20', 'Shipped'),
 ('Anna', "O'Hara", 10391, '2005-03-09', 'Shipped'),
 ('Giovanni ', 'Rovelli', 10106, '2003-02-17', 'Shipped'),
 ('Giovanni ', 'Rovelli', 10173, '2003-11-05', 'Shipped'),
 ('Giovanni ', 'Rovelli', 10328, '2004-11-12', 'Shipped'),
 ('Adrian', 'Huxley', 10139, '2003-07-16', 'Shipped'),
 ('Adrian', 'Huxley', 10270, '2004-07-19', 'Shipped'),
 ('Adrian', 'Huxley', 10361, '2004-12-17', 'Shipped'),
 ('Adrian', 'Huxley', 10420, '2005-05-29', 'In Process'),
 ('Marta', 'Hernandez', 10285, '2004-08-27', 'Shipped'),
 ('Marta', 'Hernandez', 10305, '2004-10-13', 'Shipped'),
 ('Mihael', 'Holz', 10225, '2004-02-22', 'Shipped'),
 ('Mihael', 'Holz', 10287, '2004-08-30', 'Shipped'),
 ('Jan', 'Klaeboe', 10284, '2004-08-21', 'Shipped'),
 ('Jan', 'Klaeboe', 10301, '2003-10-05', 'Shipped'),
 ('Pirkko', 'Koskitalo', 10151, '2003-09-21', 'Shipped'),
 ('Pirkko', 'Koskitalo', 10239, '2004-04-12', 'Shipped'),
 ('Pirkko', 'Koskitalo', 10373, '2005-01-31', 'Shipped'),
 ('Catherine ', 'Dewey', 10221, '2004-02-18', 'Shipped'),
 ('Catherine ', 'Dewey', 10273, '2004-07-21', 'Shipped'),
 ('Catherine ', 'Dewey', 10423, '2005-05-30', 'In Process'),
 ('Steve', 'Frick', 10195, '2003-11-25', 'Shipped'),
 ('Steve', 'Frick', 10308, '2004-10-15', 'Shipped'),
 ('Wing', 'Huang', 10143, '2003-08-10', 'Shipped'),
 ('Wing', 'Huang', 10185, '2003-11-14', 'Shipped'),
 ('Wing', 'Huang', 10365, '2005-01-07', 'Shipped'),
 ('Julie', 'Brown', 10159, '2003-10-10', 'Shipped'),
 ('Julie', 'Brown', 10162, '2003-10-18', 'Shipped'),
 ('Julie', 'Brown', 10381, '2005-02-17', 'Shipped'),
 ('Julie', 'Brown', 10384, '2005-02-23', 'Shipped'),
 ('Mike', 'Graham', 10132, '2003-06-25', 'Shipped'),
 ('Mike', 'Graham', 10254, '2004-06-03', 'Shipped'),
 ('Mike', 'Graham', 10354, '2004-12-04', 'Shipped'),
 ('Mike', 'Graham', 10393, '2005-03-11', 'Shipped'),
 ('Mike', 'Graham', 10404, '2005-04-08', 'Shipped'),
 ('Ann ', 'Brown', 10129, '2003-06-12', 'Shipped'),
 ('Ann ', 'Brown', 10175, '2003-11-06', 'Shipped'),
 ('Ann ', 'Brown', 10351, '2004-12-03', 'Shipped'),
 ('William', 'Brown', 10233, '2004-03-29', 'Shipped'),
 ('William', 'Brown', 10251, '2004-05-18', 'Shipped'),
 ('William', 'Brown', 10401, '2005-04-03', 'On Hold'),
 ('Ben', 'Calaghan', 10152, '2003-09-25', 'Shipped'),
 ('Ben', 'Calaghan', 10174, '2003-11-06', 'Shipped'),
 ('Ben', 'Calaghan', 10374, '2005-02-02', 'Shipped'),
 ('Kalle', 'Suominen', 10141, '2003-08-01', 'Shipped'),
 ('Kalle', 'Suominen', 10247, '2004-05-05', 'Shipped'),
 ('Kalle', 'Suominen', 10363, '2005-01-06', 'Shipped'),
 ('Francisca', 'Cervantes', 10183, '2003-11-13', 'Shipped'),
 ('Francisca', 'Cervantes', 10307, '2004-10-14', 'Shipped'),
 ('Jesus', 'Fernandez', 10177, '2003-11-07', 'Shipped'),
 ('Jesus', 'Fernandez', 10231, '2004-03-19', 'Shipped'),
 ('Brian', 'Chandler', 10160, '2003-10-11', 'Shipped'),
 ('Brian', 'Chandler', 10209, '2004-01-09', 'Shipped'),
 ('Laurence ', 'Lebihan', 10122, '2003-05-08', 'Shipped'),
 ('Laurence ', 'Lebihan', 10344, '2004-11-25', 'Shipped'),
 ('Laurence ', 'Lebihan', 10364, '2005-01-06', 'Shipped'),
 ('Paul ', 'Henriot', 10121, '2003-05-07', 'Shipped'),
 ('Paul ', 'Henriot', 10137, '2003-07-10', 'Shipped'),
 ('Paul ', 'Henriot', 10343, '2004-11-24', 'Shipped'),
 ('Paul ', 'Henriot', 10359, '2004-12-15', 'Shipped'),
 ('Paul ', 'Henriot', 10398, '2005-03-30', 'Shipped'),
 ('Wales', 'MacKinlay', 10202, '2003-12-02', 'Shipped'),
 ('Wales', 'MacKinlay', 10260, '2004-06-16', 'Cancelled'),
 ('Wales', 'MacKinlay', 10410, '2005-04-29', 'Shipped'),
 ('Juri', 'Yoshido', 10264, '2004-06-30', 'Shipped'),
 ('Juri', 'Yoshido', 10295, '2004-09-10', 'Shipped'),
 ('Juri', 'Yoshido', 10414, '2005-05-06', 'On Hold'),
 ('Dorothy', 'Young', 10100, '2003-01-06', 'Shipped'),
 ('Dorothy', 'Young', 10192, '2003-11-20', 'Shipped'),
 ('Dorothy', 'Young', 10322, '2004-11-04', 'Shipped'),
 ('Allen', 'Nelson', 10147, '2003-09-05', 'Shipped'),
 ('Allen', 'Nelson', 10274, '2004-07-21', 'Shipped'),
 ('Allen', 'Nelson', 10369, '2005-01-20', 'Shipped'),
 ('Pascale ', 'Cartrain', 10116, '2003-04-11', 'Shipped'),
 ('Pascale ', 'Cartrain', 10144, '2003-08-13', 'Shipped'),
 ('Pascale ', 'Cartrain', 10338, '2004-11-22', 'Shipped'),
 ('Pascale ', 'Cartrain', 10366, '2005-01-10', 'Shipped'),
 ('Georg ', 'Pipps', 10119, '2003-04-28', 'Shipped'),
 ('Georg ', 'Pipps', 10269, '2004-07-16', 'Shipped'),
 ('Georg ', 'Pipps', 10341, '2004-11-24', 'Shipped'),
 ('Georg ', 'Pipps', 10419, '2005-05-17', 'Shipped'),
 ('Arnold', 'Cruz', 10108, '2003-03-03', 'Shipped'),
 ('Arnold', 'Cruz', 10198, '2003-11-27', 'Shipped'),
 ('Arnold', 'Cruz', 10330, '2004-11-16', 'Shipped'),
 ('Maurizio ', 'Moroni', 10176, '2003-11-06', 'Shipped'),
 ('Maurizio ', 'Moroni', 10266, '2004-07-06', 'Shipped'),
 ('Maurizio ', 'Moroni', 10416, '2005-05-10', 'Shipped'),
 ('Akiko', 'Shimamura', 10258, '2004-06-15', 'Shipped'),
 ('Akiko', 'Shimamura', 10339, '2004-11-23', 'Shipped'),
 ('Akiko', 'Shimamura', 10372, '2005-01-26', 'Shipped'),
 ('Akiko', 'Shimamura', 10408, '2005-04-22', 'Shipped'),
 ('Dominique', 'Perrier', 10211, '2004-01-15', 'Shipped'),
 ('Dominique', 'Perrier', 10252, '2004-05-26', 'Shipped'),
 ('Dominique', 'Perrier', 10402, '2005-04-07', 'Shipped'),
 ('Sarah', 'McRoy', 10234, '2004-03-30', 'Shipped'),
 ('Sarah', 'McRoy', 10268, '2004-07-12', 'Shipped'),
 ('Sarah', 'McRoy', 10418, '2005-05-16', 'Shipped'),
 ('Michael', 'Donnermeyer', 10296, '2004-09-15', 'Shipped'),
 ('Maria', 'Hernandez', 10115, '2003-04-04', 'Shipped'),
 ('Maria', 'Hernandez', 10163, '2003-10-20', 'Shipped'),
 ('Maria', 'Hernandez', 10337, '2004-11-21', 'Shipped'),
 ('Dan', 'Lewis', 10131, '2003-06-16', 'Shipped'),
 ('Dan', 'Lewis', 10146, '2003-09-03', 'Shipped'),
 ('Dan', 'Lewis', 10353, '2004-12-04', 'Shipped'),
 ('Martha', 'Larsson', 10167, '2003-10-23', 'Cancelled'),
 ('Martha', 'Larsson', 10291, '2004-09-08', 'Shipped'),
 ('Martha', 'Larsson', 10389, '2005-03-03', 'Shipped'),
 ('Sue', 'Frick', 10250, '2004-05-11', 'Shipped'),
 ('Sue', 'Frick', 10257, '2004-06-14', 'Shipped'),
 ('Sue', 'Frick', 10400, '2005-04-01', 'Shipped'),
 ('Sue', 'Frick', 10407, '2005-04-22', 'On Hold'),
 ('Roland ', 'Mendel', 10164, '2003-10-21', 'Resolved'),
 ('Roland ', 'Mendel', 10170, '2003-11-04', 'Shipped'),
 ('Roland ', 'Mendel', 10392, '2005-03-10', 'Shipped'),
 ('Leslie', 'Murphy', 10196, '2003-11-26', 'Shipped'),
 ('Leslie', 'Murphy', 10245, '2004-05-04', 'Shipped'),
 ('Yu', 'Choi', 10242, '2004-04-20', 'Shipped'),
 ('Yu', 'Choi', 10319, '2004-11-03', 'Shipped'),
 ('Martín ', 'Sommer', 10126, '2003-05-28', 'Shipped'),
 ('Martín ', 'Sommer', 10214, '2004-01-26', 'Shipped'),
 ('Martín ', 'Sommer', 10348, '2004-11-01', 'Shipped'),
 ('Violeta', 'Benitez', 10166, '2003-10-21', 'Shipped'),
 ('Violeta', 'Benitez', 10321, '2004-11-04', 'Shipped'),
 ('Violeta', 'Benitez', 10388, '2005-03-03', 'Shipped'),
 ('Sean', 'Clenahan', 10193, '2003-11-21', 'Shipped'),
 ('Sean', 'Clenahan', 10265, '2004-07-02', 'Shipped'),
 ('Sean', 'Clenahan', 10415, '2005-05-09', 'Disputed'),
 ('Franco', 'Ricotti', 10157, '2003-10-09', 'Shipped'),
 ('Franco', 'Ricotti', 10218, '2004-02-09', 'Shipped'),
 ('Steve', 'Thompson', 10199, '2003-12-01', 'Shipped'),
 ('Steve', 'Thompson', 10215, '2004-01-29', 'Shipped'),
 ('José Pedro ', 'Roel', 10184, '2003-11-14', 'Shipped'),
 ('José Pedro ', 'Roel', 10303, '2004-10-06', 'Shipped'),
 ('Rosa', 'Salazar', 10109, '2003-03-10', 'Shipped'),
 ('Rosa', 'Salazar', 10236, '2004-04-03', 'Shipped'),
 ('Rosa', 'Salazar', 10331, '2004-11-17', 'Shipped'),
 ('Sue', 'Taylor', 10149, '2003-09-12', 'Shipped'),
 ('Sue', 'Taylor', 10219, '2004-02-10', 'Shipped'),
 ('Thomas ', 'Smith', 10186, '2003-11-14', 'Shipped'),
 ('Thomas ', 'Smith', 10213, '2004-01-22', 'Shipped'),
 ('Valarie', 'Franco', 10207, '2003-12-09', 'Shipped'),
 ('Valarie', 'Franco', 10243, '2004-04-26', 'Shipped'),
 ('Tony', 'Snowden', 10138, '2003-07-07', 'Shipped'),
 ('Tony', 'Snowden', 10179, '2003-11-11', 'Cancelled'),
 ('Tony', 'Snowden', 10360, '2004-12-16', 'Shipped'),
 ('Tony', 'Snowden', 10399, '2005-04-01', 'Shipped')]

## Customers and Their Payments (Another One-to-Many Join)

Select all of the customer contacts (first and last names) along with details for each of the customers' payment amounts and date of payment. Sort these results in descending order by the payment amount.

In [8]:
cur.execute('''
    SELECT c.contactFirstName, c.contactLastName, p.amount ,p.paymentDate 
    FROM customers c
    JOIN payments p ON c.customerNumber = p.customerNumber
    ORDER BY p.amount DESC
    ''').fetchall()

[('Diego ', 'Freyre', 120166.58, '2005-03-18'),
 ('Diego ', 'Freyre', 116208.4, '2004-12-31'),
 ('Susan', 'Nelson', 111654.4, '2003-08-15'),
 ('Eric', 'Natividad', 105743, '2003-12-26'),
 ('Susan', 'Nelson', 101244.59, '2005-03-05'),
 ('Julie', 'Brown', 85559.12, '2003-11-03'),
 ('Susan', 'Nelson', 85410.87, '2004-08-28'),
 ('Veysel', 'Oeztan', 85024.46, '2003-12-03'),
 ('Susan', 'Nelson', 83598.04, '2005-04-16'),
 ('Peter', 'Ferguson', 82261.22, '2004-12-15'),
 ('Valarie', 'Thompson', 80375.24, '2004-03-15'),
 ('Mike', 'Graham', 75020.13, '2005-05-23'),
 ('Diego ', 'Freyre', 65071.26, '2005-03-25'),
 ('Diego ', 'Freyre', 63843.55, '2003-12-09'),
 ('Kelvin', 'Leong', 63357.13, '2004-09-07'),
 ('Mihael', 'Holz', 61402, '2004-09-18'),
 ('Henriette ', 'Pfalzheim', 61234.67, '2004-11-06'),
 ('Diego ', 'Freyre', 59830.55, '2004-01-30'),
 ('Sue', 'Frick', 59551.38, '2004-06-21'),
 ('Valarie', 'Franco', 59265.14, '2003-12-26'),
 ('Jeff', 'Young', 58841.35, '2003-06-18'),
 ('Jeff', 'Young', 58793.53, '2003-12-22'),
 ('Martín ', 'Sommer', 57131.92, '2003-06-13'),
 ('Susan', 'Nelson', 55639.66, '2004-11-02'),
 ('Dorothy', 'Young', 55425.77, '2003-12-05'),
 ('Jytte ', 'Petersen', 53959.21, '2003-02-20'),
 ('Palle', 'Ibsen', 53745.34, '2004-11-02'),
 ('Daniel ', 'Tonini', 53116.99, '2004-10-22'),
 ('Rachel', 'Ashworth', 52825.29, '2004-11-03'),
 ('Wing', 'Huang', 52548.49, '2003-11-24'),
 ('Tony', 'Snowden', 52166, '2004-12-31'),
 ('Giovanni ', 'Rovelli', 52151.81, '2003-03-02'),
 ('Maurizio ', 'Moroni', 51619.02, '2004-07-18'),
 ('Marie', 'Bertrand', 51209.58, '2004-12-04'),
 ('Miguel', 'Barajas', 51152.86, '2004-08-13'),
 ('Arnold', 'Cruz', 51001.22, '2003-03-09'),
 ('Laurence ', 'Lebihan', 50824.66, '2003-05-25'),
 ('Dorothy', 'Young', 50799.69, '2004-11-17'),
 ('Juri', 'Hashimoto', 50743.65, '2003-11-18'),
 ('Julie', 'Young', 50342.74, '2003-09-05'),
 ('Jonas ', 'Bergulfsen', 50218.95, '2003-02-16'),
 ('Kwai', 'Lee', 50025.35, '2004-12-02'),
 ('Paul ', 'Henriot', 49705.52, '2005-01-10'),
 ('Mary ', 'Saveley', 49614.72, '2004-01-16'),
 ('Diego ', 'Freyre', 49539.37, '2003-10-26'),
 ('Janine ', 'Labrune', 49523.67, '2005-02-22'),
 ('Dominique', 'Perrier', 49165.16, '2004-01-28'),
 ('Akiko', 'Shimamura', 48927.64, '2004-11-29'),
 ('Martha', 'Larsson', 48809.9, '2004-09-30'),
 ('Rachel', 'Ashworth', 48425.69, '2003-03-27'),
 ('Violeta', 'Benitez', 48355.87, '2004-11-27'),
 ('Paolo ', 'Accorti', 48298.99, '2004-09-04'),
 ('Janine ', 'Labrune', 47924.19, '2004-08-08'),
 ('José Pedro ', 'Roel', 47513.19, '2003-11-29'),
 ('Marta', 'Hernandez', 47411.33, '2004-10-28'),
 ('Mihael', 'Holz', 47375.92, '2004-03-13'),
 ('Mory', 'Kentary', 47177.59, '2004-01-19'),
 ('Rachel', 'Ashworth', 47159.11, '2004-12-08'),
 ('Susan', 'Nelson', 47142.7, '2004-12-27'),
 ('Diego ', 'Freyre', 46895.48, '2005-05-19'),
 ('Helen ', 'Bennett', 46788.14, '2004-11-16'),
 ('Julie', 'Brown', 46781.66, '2005-03-15'),
 ('Pirkko', 'Koskitalo', 46770.52, '2005-02-15'),
 ('Paul ', 'Henriot', 46656.94, '2005-06-09'),
 ('Rosa', 'Salazar', 45994.07, '2004-11-23'),
 ('Peter', 'Ferguson', 45864.03, '2003-05-20'),
 ('Kalle', 'Suominen', 45785.34, '2005-01-27'),
 ('Mike', 'Gao', 45480.79, '2003-12-09'),
 ('Catherine ', 'Dewey', 45352.47, '2004-08-09'),
 ('Susan', 'Nelson', 45084.38, '2003-11-25'),
 ('Peter', 'Ferguson', 44894.74, '2004-03-10'),
 ('Michael', 'Frick', 44400.5, '2004-11-16'),
 ('Eric', 'Natividad', 44380.15, '2003-04-22'),
 ('Wendy', 'Victorino', 44160.92, '2004-07-07'),
 ('Susan', 'Nelson', 43369.3, '2004-03-26'),
 ('Marta', 'Hernandez', 43134.04, '2004-09-05'),
 ('Georg ', 'Pipps', 42813.83, '2004-11-27'),
 ('Martine ', 'Rancé', 42783.81, '2003-11-22'),
 ('Steve', 'Frick', 42339.76, '2004-11-06'),
 ('Julie', 'King', 42044.77, '2004-07-10'),
 ('Anna', "O'Hara", 41554.73, '2003-09-28'),
 ('Wing', 'Huang', 41016.75, '2003-08-20'),
 ('Mary ', 'Saveley', 40978.53, '2004-03-18'),
 ('Eduardo ', 'Saavedra', 40473.86, '2003-12-14'),
 ('Diego ', 'Freyre', 40206.2, '2003-02-25'),
 ('Jeff', 'Young', 39964.63, '2004-12-14'),
 ('Mary ', 'Saveley', 39712.1, '2003-12-10'),
 ('Julie', 'Young', 39580.6, '2005-02-06'),
 ('Mike', 'Graham', 39440.59, '2004-12-24'),
 ('Wendy', 'Victorino', 38785.48, '2004-09-16'),
 ('Juri', 'Hashimoto', 38675.13, '2003-08-05'),
 ('Anna', "O'Hara", 38547.19, '2003-11-13'),
 ('Maurizio ', 'Moroni', 38524.29, '2003-11-18'),
 ('Leslie', 'Murphy', 38139.18, '2003-12-05'),
 ('Giovanni ', 'Rovelli', 37723.79, '2003-11-24'),
 ('Giovanni ', 'Rovelli', 37654.09, '2004-12-05'),
 ('Matti', 'Karttunen', 37602.48, '2003-10-27'),
 ('Elizabeth ', 'Lincoln', 37527.58, '2004-08-30'),
 ('Ann ', 'Brown', 37455.77, '2003-11-23'),
 ('Mike', 'Graham', 37281.36, '2004-06-24'),
 ('Elizabeth', 'Devon', 37258.94, '2004-06-15'),
 ('Jan', 'Klaeboe', 36798.88, '2003-10-24'),
 ('Yoshi ', 'Tamuri', 36527.61, '2003-12-18'),
 ('Wales', 'MacKinlay', 36442.34, '2004-05-15'),
 ('Diego ', 'Freyre', 36251.03, '2003-07-19'),
 ('Palle', 'Ibsen', 36164.46, '2003-10-31'),
 ('Diego ', 'Freyre', 36140.38, '2004-11-01'),
 ('Steve', 'Frick', 36092.4, '2003-12-07'),
 ('Steve', 'Thompson', 36070.47, '2004-02-13'),
 ('Frédérique ', 'Citeaux', 36069.26, '2004-05-04'),
 ('Christina ', 'Berglund', 36005.71, '2004-12-12'),
 ('Georg ', 'Pipps', 35826.33, '2003-05-12'),
 ('Adrian', 'Huxley', 35806.73, '2004-08-02'),
 ('Sean', 'Clenahan', 35505.63, '2003-12-10'),
 ('Diego ', 'Freyre', 35420.74, '2004-07-09'),
 ('Kwai', 'Lee', 35321.97, '2004-09-11'),
 ('Frédérique ', 'Citeaux', 35157.75, '2005-05-03'),
 ('Kelvin', 'Leong', 35152.12, '2004-11-19'),
 ('Sarah', 'McRoy', 35034.57, '2004-07-25'),
 ('Jonas ', 'Bergulfsen', 34638.14, '2004-11-28'),
 ('Francisca', 'Cervantes', 34606.28, '2003-11-28'),
 ('Matti', 'Karttunen', 34341.08, '2004-10-21'),
 ('Akiko', 'Shimamura', 33967.73, '2005-02-14'),
 ('Paolo ', 'Accorti', 33924.24, '2004-09-19'),
 ('Roland', 'Keitel', 33820.62, '2004-03-24'),
 ('Annette ', 'Roulet', 33818.34, '2003-11-22'),
 ('Yoshi ', 'Tamuri', 33594.58, '2004-11-08'),
 ('Marie', 'Bertrand', 33383.14, '2003-04-20'),
 ('Jean', 'King', 33347.88, '2004-08-20'),
 ('Martín ', 'Sommer', 33145.56, '2004-11-15'),
 ('Pirkko', 'Koskitalo', 32723.04, '2003-10-06'),
 ('Allen', 'Nelson', 32680.31, '2003-09-16'),
 ('Jean', 'King', 32641.98, '2003-06-06'),
 ('Dean', 'Cassidy', 32538.74, '2004-03-01'),
 ('Jan', 'Klaeboe', 32260.16, '2004-09-05'),
 ('Leslie', 'Murphy', 32239.47, '2004-05-12'),
 ('Tony', 'Snowden', 32077.44, '2003-07-16'),
 ('Adrian', 'Huxley', 31835.36, '2005-01-03'),
 ('Sarah', 'McRoy', 31670.37, '2004-04-14'),
 ('Jesus', 'Fernandez', 31428.21, '2003-11-24'),
 ('Michael', 'Donnermeyer', 31310.09, '2004-09-28'),
 ('William', 'Brown', 31102.85, '2004-05-30'),
 ('Violeta', 'Benitez', 30293.77, '2005-04-15'),
 ('Tony', 'Snowden', 30253.75, '2005-05-25'),
 ('Sue', 'Taylor', 29997.09, '2003-09-28'),
 ('Anna', "O'Hara", 29848.52, '2005-04-30'),
 ('Kalle', 'Suominen', 29716.86, '2003-08-16'),
 ('Ann ', 'Brown', 29429.14, '2003-07-07'),
 ('Elizabeth ', 'Lincoln', 29284.42, '2004-04-24'),
 ('Jean ', 'Fresnière', 29070.38, '2005-05-20'),
 ('Julie', 'King', 28500.78, '2005-05-19'),
 ('Kalle', 'Suominen', 28394.54, '2004-05-22'),
 ('Allen', 'Nelson', 28322.83, '2005-02-12'),
 ('Jytte ', 'Petersen', 28211.7, '2004-04-26'),
 ('Henriette ', 'Pfalzheim', 27988.47, '2003-12-07'),
 ('Martha', 'Larsson', 27966.54, '2005-04-18'),
 ('Yu', 'Choi', 27550.51, '2004-11-13'),
 ('Roland ', 'Mendel', 27121.9, '2003-11-15'),
 ('Anna', "O'Hara", 27083.78, '2005-02-09'),
 ('Daniel', 'Da Silva', 26311.63, '2004-12-30'),
 ('Dan', 'Lewis', 26304.13, '2004-12-17'),
 ('Julie', 'Murphy', 26248.78, '2004-12-08'),
 ('Diego ', 'Freyre', 26155.91, '2004-05-17'),
 ('Rosa', 'Salazar', 25833.14, '2003-03-20'),
 ('Maria', 'Hernandez', 25505.98, '2004-12-07'),
 ('Dominique', 'Perrier', 25080.96, '2004-06-17'),
 ('Helen ', 'Bennett', 24995.61, '2004-03-28'),
 ('Eduardo ', 'Saavedra', 24945.21, '2004-12-06'),
 ('Julie', 'King', 24879.08, '2003-11-19'),
 ('Roland', 'Keitel', 24101.81, '2003-10-18'),
 ('Adrian', 'Huxley', 24013.52, '2003-08-03'),
 ('Ben', 'Calaghan', 23936.53, '2003-11-15'),
 ('Julie', 'Murphy', 23923.93, '2003-12-11'),
 ('Elizabeth', 'Devon', 23908.24, '2003-10-20'),
 ('Matti', 'Karttunen', 23602.9, '2005-03-10'),
 ('Daniel', 'Da Silva', 23419.47, '2003-07-18'),
 ('Francisca', 'Cervantes', 23333.06, '2004-10-24'),
 ('Jean ', 'Fresnière', 22997.45, '2004-07-01'),
 ('Michael', 'Frick', 22602.36, '2004-04-25'),
 ('Wendy', 'Victorino', 22474.17, '2004-02-28'),
 ('Kwai', 'Lee', 22292.62, '2003-03-12'),
 ('Thomas ', 'Smith', 22275.73, '2003-12-04'),
 ('Martín ', 'Sommer', 22162.61, '2004-02-06'),
 ('Maria', 'Hernandez', 22042.37, '2003-10-31'),
 ('Akiko', 'Shimamura', 22037.91, '2004-06-21'),
 ('Maria', 'Hernandez', 21665.98, '2003-04-16'),
 ('Ben', 'Calaghan', 21432.31, '2005-03-01'),
 ('Brian', 'Chandler', 21053.69, '2004-01-18'),
 ('Arnold', 'Cruz', 20644.24, '2003-12-02'),
 ('Jytte ', 'Petersen', 20564.86, '2004-12-01'),
 ('Brian', 'Chandler', 20452.5, '2003-10-24'),
 ('Jerry', 'Tseng', 20355.24, '2004-03-29'),
 ('Jeff', 'Young', 20314.44, '2004-07-26'),
 ('Wales', 'MacKinlay', 20220.04, '2003-12-16'),
 ('Diego ', 'Freyre', 20009.53, '2004-08-16'),
 ('Janine ', 'Labrune', 19501.82, '2004-11-14'),
 ('Martine ', 'Rancé', 18997.89, '2004-03-15'),
 ('Laurence ', 'Lebihan', 18888.31, '2004-12-11'),
 ('Juri', 'Yoshido', 18473.71, '2004-07-11'),
 ('Daniel', 'Da Silva', 17928.09, '2005-05-17'),
 ('Jonas ', 'Bergulfsen', 17876.32, '2004-11-04'),
 ('Franco', 'Ricotti', 17746.26, '2003-10-27'),
 ('Dean', 'Cassidy', 17359.53, '2004-10-03'),
 ('Dan', 'Lewis', 17032.29, '2003-06-25'),
 ('Jean ', 'Fresnière', 16909.84, '2003-11-18'),
 ('Catherine ', 'Dewey', 16901.38, '2004-03-03'),
 ('Paul ', 'Henriot', 16700.47, '2003-05-21'),
 ('Julie', 'Murphy', 16537.85, '2003-04-09'),
 ('Pirkko', 'Koskitalo', 16212.59, '2004-04-25'),
 ('Arnold', 'Cruz', 15822.84, '2004-11-19'),
 ('Jesus', 'Fernandez', 15322.93, '2004-04-02'),
 ('Mory', 'Kentary', 15183.63, '2004-04-17'),
 ('Roland ', 'Mendel', 15130.97, '2003-11-20'),
 ('Juri', 'Yoshido', 15059.76, '2004-09-21'),
 ('Carine ', 'Schmitt', 14571.44, '2003-06-05'),
 ('Pascale ', 'Cartrain', 14379.9, '2005-02-03'),
 ('Annette ', 'Roulet', 14232.7, '2003-07-21'),
 ('Jean', 'King', 14191.12, '2004-12-17'),
 ('Paul ', 'Henriot', 13920.26, '2003-07-21'),
 ('Ann ', 'Brown', 13671.82, '2004-12-13'),
 ('Juri', 'Hashimoto', 12692.19, '2005-02-02'),
 ('Sue', 'Taylor', 12573.28, '2004-02-29'),
 ('Veysel', 'Oeztan', 12538.01, '2004-09-19'),
 ('Allen', 'Nelson', 12530.51, '2004-08-02'),
 ('Annette ', 'Roulet', 12432.32, '2005-06-03'),
 ('Dominique', 'Perrier', 12190.85, '2005-04-23'),
 ('Pascale ', 'Cartrain', 12081.52, '2004-12-03'),
 ('Jerry', 'Tseng', 11843.45, '2004-05-13'),
 ('Susan', 'Nelson', 11044.3, '2003-04-11'),
 ('Roland', 'Keitel', 10549.01, '2003-01-28'),
 ('Dorothy', 'Young', 10223.83, '2003-01-16'),
 ('Violeta', 'Benitez', 9977.85, '2003-11-08'),
 ('Ben', 'Calaghan', 9821.32, '2003-10-17'),
 ('Leslie', 'Taylor', 9658.74, '2004-12-06'),
 ('Sean', 'Clenahan', 9415.13, '2004-07-28'),
 ('Roland ', 'Mendel', 8807.12, '2005-05-03'),
 ('Wing', 'Huang', 8307.28, '2005-01-18'),
 ('Steve', 'Thompson', 7678.25, '2003-12-09'),
 ('Christina ', 'Berglund', 7674.94, '2003-04-09'),
 ('Franco', 'Ricotti', 7612.06, '2004-02-17'),
 ('Peter', 'Ferguson', 7565.08, '2003-05-31'),
 ('Roland', 'Keitel', 7466.32, '2004-11-18'),
 ('Thomas ', 'Smith', 7310.42, '2004-01-31'),
 ('William', 'Brown', 7178.66, '2004-04-16'),
 ('Dan', 'Lewis', 6631.36, '2003-09-15'),
 ('Georg ', 'Pipps', 6419.84, '2004-08-01'),
 ('Valarie', 'Franco', 6276.6, '2004-05-14'),
 ('Carine ', 'Schmitt', 6066.78, '2004-10-19'),
 ('Leslie', 'Taylor', 6036.96, '2003-07-06'),
 ('Rosa', 'Salazar', 5899.38, '2004-04-14'),
 ('Leslie', 'Taylor', 5858.56, '2004-09-21'),
 ('Daniel ', 'Tonini', 5759.42, '2004-02-10'),
 ('Michael', 'Frick', 5494.78, '2003-01-30'),
 ('Jytte ', 'Petersen', 4710.73, '2004-07-03'),
 ('Frédérique ', 'Citeaux', 4632.31, '2004-06-21'),
 ('Mary', 'Young', 4465.85, '2003-10-18'),
 ('Miguel', 'Barajas', 4424.4, '2004-09-24'),
 ('Julie', 'Young', 3879.96, '2003-12-04'),
 ('Eric', 'Natividad', 3516.04, '2005-03-27'),
 ('José Pedro ', 'Roel', 3474.66, '2004-10-26'),
 ('Mary', 'Young', 3452.75, '2005-03-02'),
 ('Eduardo ', 'Saavedra', 3101.4, '2003-05-09'),
 ('Mike', 'Graham', 2880, '2003-07-05'),
 ('Eric', 'Natividad', 2611.84, '2004-08-11'),
 ('Juri', 'Hashimoto', 2434.25, '2004-11-14'),
 ('Marie', 'Bertrand', 1960.8, '2004-09-09'),
 ('Laurence ', 'Lebihan', 1834.56, '2005-01-29'),
 ('Yu', 'Choi', 1679.92, '2004-04-30'),
 ('Carine ', 'Schmitt', 1676.14, '2004-12-18'),
 ('Pascale ', 'Cartrain', 1627.56, '2003-04-19'),
 ('Jonas ', 'Bergulfsen', 1491.38, '2003-10-28'),
 ('Pascale ', 'Cartrain', 1128.2, '2003-08-22'),
 ('Akiko', 'Shimamura', 615.45, '2005-05-18')]

## Orders, Order Details, and Product Details (a Many-to-Many Join)

Select all of the customer contacts (first and last names) along with the product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

> Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries that can make complex queries such as this much simpler!

In [11]:
cur.execute('''
    SELECT c.contactFirstName, c.contactLastName, pr.productName ,od.quantityOrdered, o.orderDate
    FROM customers c
    JOIN orders o ON c.customerNumber = o.customerNumber
    JOIN orderdetails od ON o.orderNumber = od.orderNumber
    JOIN products pr ON od.productCode = pr.productCode
    ORDER BY o.orderDate DESC
    ''').fetchall()

[('Janine ', 'Labrune', '1962 LanciaA Delta 16V', 38, '2005-05-31'),
 ('Janine ', 'Labrune', '1957 Chevy Pickup', 33, '2005-05-31'),
 ('Janine ', 'Labrune', '1998 Chrysler Plymouth Prowler', 28, '2005-05-31'),
 ('Janine ', 'Labrune', '1964 Mercedes Tour Bus', 38, '2005-05-31'),
 ('Janine ', 'Labrune', '1926 Ford Fire Engine', 19, '2005-05-31'),
 ('Janine ', 'Labrune', '1992 Ferrari 360 Spider red', 28, '2005-05-31'),
 ('Janine ', 'Labrune', '1940s Ford truck', 38, '2005-05-31'),
 ('Janine ', 'Labrune', '1970 Dodge Coronet', 55, '2005-05-31'),
 ('Janine ', 'Labrune', '1962 Volkswagen Microbus', 49, '2005-05-31'),
 ('Janine ',
  'Labrune',
  '1958 Chevy Corvette Limited Edition',
  31,
  '2005-05-31'),
 ('Janine ', 'Labrune', '1980’s GM Manhattan Express', 41, '2005-05-31'),
 ('Janine ', 'Labrune', '1954 Greyhound Scenicruiser', 11, '2005-05-31'),
 ('Janine ', 'Labrune', 'Diamond T620 Semi-Skirted Tanker', 18, '2005-05-31'),
 ('Diego ', 'Freyre', '1952 Alpine Renault 1300', 50, '2005-05-31'),
 ('Diego ', 'Freyre', '1958 Setra Bus', 49, '2005-05-31'),
 ('Diego ', 'Freyre', '1940 Ford Pickup Truck', 54, '2005-05-31'),
 ('Diego ', 'Freyre', '1939 Cadillac Limousine', 26, '2005-05-31'),
 ('Diego ',
  'Freyre',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  44,
  '2005-05-31'),
 ('Diego ', 'Freyre', '1982 Camaro Z28', 46, '2005-05-31'),
 ('Kelvin', 'Leong', '1937 Lincoln Berline', 51, '2005-05-30'),
 ('Kelvin',
  'Leong',
  '1936 Mercedes-Benz 500K Special Roadster',
  25,
  '2005-05-30'),
 ('Catherine ', 'Dewey', '1913 Ford Model T Speedster', 10, '2005-05-30'),
 ('Catherine ', 'Dewey', '1934 Ford V8 Coupe', 31, '2005-05-30'),
 ('Catherine ',
  'Dewey',
  '18th Century Vintage Horse Carriage',
  21,
  '2005-05-30'),
 ('Catherine ', 'Dewey', '1917 Maxwell Touring Car', 21, '2005-05-30'),
 ('Catherine ', 'Dewey', '1936 Chrysler Airflow', 28, '2005-05-30'),
 ('Susan', 'Nelson', '1928 Mercedes-Benz SSK', 35, '2005-05-29'),
 ('Susan',
  'Nelson',
  '1938 Cadillac V-16 Presidential Limousine',
  40,
  '2005-05-29'),
 ('Adrian', 'Huxley', '1917 Grand Touring Sedan', 37, '2005-05-29'),
 ('Adrian', 'Huxley', '1911 Ford Town Car', 36, '2005-05-29'),
 ('Adrian', 'Huxley', '1932 Model A Ford J-Coupe', 45, '2005-05-29'),
 ('Adrian', 'Huxley', '1932 Alfa Romeo 8C2300 Spider Sport', 66, '2005-05-29'),
 ('Adrian', 'Huxley', '1957 Ford Thunderbird', 36, '2005-05-29'),
 ('Adrian', 'Huxley', '1970 Chevy Chevelle SS 454', 60, '2005-05-29'),
 ('Adrian', 'Huxley', '1966 Shelby Cobra 427 S/C', 37, '2005-05-29'),
 ('Adrian', 'Huxley', '1939 Chevrolet Deluxe Coupe', 45, '2005-05-29'),
 ('Adrian', 'Huxley', '1949 Jaguar XK 120', 39, '2005-05-29'),
 ('Adrian', 'Huxley', '1952 Citroen-15CV', 55, '2005-05-29'),
 ('Adrian', 'Huxley', '1969 Chevrolet Camaro Z28', 35, '2005-05-29'),
 ('Adrian', 'Huxley', '2002 Chevy Corvette', 26, '2005-05-29'),
 ('Adrian', 'Huxley', '1936 Mercedes Benz 500k Roadster', 15, '2005-05-29'),
 ('Georg ', 'Pipps', '1968 Ford Mustang', 12, '2005-05-17'),
 ('Georg ', 'Pipps', '1968 Dodge Charger', 10, '2005-05-17'),
 ('Georg ', 'Pipps', '1970 Plymouth Hemi Cuda', 34, '2005-05-17'),
 ('Georg ', 'Pipps', '1969 Dodge Charger', 32, '2005-05-17'),
 ('Georg ', 'Pipps', '1993 Mazda RX-7', 38, '2005-05-17'),
 ('Georg ', 'Pipps', '1965 Aston Martin DB5', 37, '2005-05-17'),
 ('Georg ', 'Pipps', '1948 Porsche 356-A Roadster', 39, '2005-05-17'),
 ('Georg ', 'Pipps', '1995 Honda Civic', 34, '2005-05-17'),
 ('Georg ', 'Pipps', '1999 Indy 500 Monte Carlo SS', 55, '2005-05-17'),
 ('Georg ', 'Pipps', '1992 Ferrari 360 Spider red', 35, '2005-05-17'),
 ('Georg ', 'Pipps', '1948 Porsche Type 356 Roadster', 43, '2005-05-17'),
 ('Georg ', 'Pipps', '1982 Lamborghini Diablo', 15, '2005-05-17'),
 ('Georg ', 'Pipps', '1971 Alpine Renault 1600s', 55, '2005-05-17'),
 ('Georg ', 'Pipps', '1956 Porsche 356A Coupe', 70, '2005-05-17'),
 ('Sarah', 'McRoy', '1969 Dodge Super Bee', 16, '2005-05-16'),
 ('Sarah', 'McRoy', '1976 Ford Gran Torino', 27, '2005-05-16'),
 ('Sarah', 'McRoy', '1957 Vespa GS150', 33, '2005-05-16'),
 ('Sarah', 'McRoy', '1957 Corvette Convertible', 28, '2005-05-16'),
 ('Sarah', 'McRoy', '1982 Ducati 900 Monster', 52, '2005-05-16'),
 ('Sarah', 'McRoy', '1961 Chevrolet Impala', 10, '2005-05-16'),
 ('Sarah', 'McRoy', '1982 Ducati 996 R', 43, '2005-05-16'),
 ('Sarah', 'McRoy', '1974 Ducati 350 Mk3 Desmo', 50, '2005-05-16'),
 ('Sarah', 'McRoy', '2002 Yamaha YZR M1', 40, '2005-05-16'),
 ('Diego ',
  'Freyre',
  '1969 Harley Davidson Ultimate Chopper',
  66,
  '2005-05-13'),
 ('Diego ', 'Freyre', '1996 Moto Guzzi 1100i', 45, '2005-05-13'),
 ('Diego ',
  'Freyre',
  '2003 Harley-Davidson Eagle Drag Bike',
  56,
  '2005-05-13'),
 ('Diego ', 'Freyre', '2002 Suzuki XREO', 21, '2005-05-13'),
 ('Diego ', 'Freyre', '1936 Harley Davidson El Knucklehead', 36, '2005-05-13'),
 ('Diego ', 'Freyre', '1997 BMW R 1100 S', 35, '2005-05-13'),
 ('Maurizio ', 'Moroni', '1980s Black Hawk Helicopter', 24, '2005-05-10'),
 ('Maurizio ', 'Moroni', 'P-51-D Mustang', 15, '2005-05-10'),
 ('Maurizio ', 'Moroni', '1928 British Royal Navy Airplane', 47, '2005-05-10'),
 ('Maurizio ', 'Moroni', '1960 BSA Gold Star DBD34', 32, '2005-05-10'),
 ('Maurizio ', 'Moroni', 'Corsair F4U ( Bird Cage)', 18, '2005-05-10'),
 ('Maurizio ', 'Moroni', '1900s Vintage Tri-Plane', 48, '2005-05-10'),
 ('Maurizio ', 'Moroni', '1997 BMW F650 ST', 45, '2005-05-10'),
 ('Maurizio ', 'Moroni', '1928 Ford Phaeton Deluxe', 26, '2005-05-10'),
 ('Maurizio ', 'Moroni', '1930 Buick Marquette Phaeton', 37, '2005-05-10'),
 ('Maurizio ', 'Moroni', 'American Airlines: B767-300', 23, '2005-05-10'),
 ('Maurizio ', 'Moroni', 'America West Airlines B757-200', 22, '2005-05-10'),
 ('Maurizio ', 'Moroni', 'ATA: B757-300', 41, '2005-05-10'),
 ('Maurizio ', 'Moroni', 'F/A 18 Hornet 1/72', 39, '2005-05-10'),
 ('Maurizio ', 'Moroni', 'American Airlines: MD-11S', 43, '2005-05-10'),
 ('Sean',
  'Clenahan',
  '1941 Chevrolet Special Deluxe Cabriolet',
  51,
  '2005-05-09'),
 ('Sean', 'Clenahan', '1900s Vintage Bi-Plane', 21, '2005-05-09'),
 ('Sean', 'Clenahan', '1937 Horch 930V Limousine', 18, '2005-05-09'),
 ('Sean', 'Clenahan', 'HMS Bounty', 32, '2005-05-09'),
 ('Sean', 'Clenahan', 'Boeing X-32A JSF', 42, '2005-05-09'),
 ('Juri', 'Yoshido', '1972 Alfa Romeo GTA', 49, '2005-05-06'),
 ('Juri', 'Yoshido', '1999 Yamaha Speed Boat', 44, '2005-05-06'),
 ('Juri', 'Yoshido', '1903 Ford Model A', 41, '2005-05-06'),
 ('Juri', 'Yoshido', 'Collectable Wooden Train', 48, '2005-05-06'),
 ('Juri', 'Yoshido', '1904 Buick Runabout', 56, '2005-05-06'),
 ('Juri', 'Yoshido', '18th century schooner', 43, '2005-05-06'),
 ('Juri', 'Yoshido', '1912 Ford Model T Delivery Wagon', 60, '2005-05-06'),
 ('Juri', 'Yoshido', '1940 Ford Delivery Sedan', 51, '2005-05-06'),
 ('Juri', 'Yoshido', 'The Schooner Bluenose', 37, '2005-05-06'),
 ('Juri', 'Yoshido', 'The Mayflower', 34, '2005-05-06'),
 ('Juri', 'Yoshido', 'The USS Constitution Ship', 31, '2005-05-06'),
 ('Juri', 'Yoshido', 'The Titanic', 28, '2005-05-06'),
 ('Juri', 'Yoshido', 'The Queen Mary', 40, '2005-05-06'),
 ('Juri', 'Yoshido', 'Pont Yacht', 47, '2005-05-06'),
 ('Julie', 'King', '2001 Ferrari Enzo', 36, '2005-05-05'),
 ('Julie', 'King', '1969 Corvair Monza', 47, '2005-05-05'),
 ('Julie', 'King', '1969 Ford Falcon', 22, '2005-05-05'),
 ('Julie', 'King', '1970 Triumph Spitfire', 49, '2005-05-05'),
 ('Julie', 'King', "1950's Chicago Surface Lines Streetcar", 24, '2005-05-05'),
 ('Julie', 'King', '1962 City of Detroit Streetcar', 51, '2005-05-05'),
 ('Diego ', 'Freyre', '1957 Chevy Pickup', 54, '2005-05-03'),
 ('Diego ', 'Freyre', '1998 Chrysler Plymouth Prowler', 41, '2005-05-03'),
 ('Diego ', 'Freyre', '1964 Mercedes Tour Bus', 56, '2005-05-03'),
 ('Diego ', 'Freyre', '1926 Ford Fire Engine', 47, '2005-05-03'),
 ('Diego ', 'Freyre', '1992 Ferrari 360 Spider red', 60, '2005-05-03'),
 ('Diego ', 'Freyre', '1970 Dodge Coronet', 21, '2005-05-03'),
 ('Diego ', 'Freyre', '1962 Volkswagen Microbus', 70, '2005-05-03'),
 ('Diego ', 'Freyre', '1958 Chevy Corvette Limited Edition', 30, '2005-05-03'),
 ('Diego ', 'Freyre', '1992 Porsche Cayenne Turbo Silver', 31, '2005-05-03'),
 ('Diego ', 'Freyre', '1954 Greyhound Scenicruiser', 19, '2005-05-03'),
 ('Diego ', 'Freyre', 'Diamond T620 Semi-Skirted Tanker', 26, '2005-05-03'),
 ('Jean ', 'Fresnière', '1952 Alpine Renault 1300', 23, '2005-05-01'),
 ('Jean ', 'Fresnière', '1962 LanciaA Delta 16V', 27, '2005-05-01'),
 ('Jean ', 'Fresnière', '1958 Setra Bus', 40, '2005-05-01'),
 ('Jean ', 'Fresnière', '1940 Ford Pickup Truck', 27, '2005-05-01'),
 ('Jean ', 'Fresnière', '1940s Ford truck', 46, '2005-05-01'),
 ('Jean ', 'Fresnière', '1939 Cadillac Limousine', 35, '2005-05-01'),
 ('Jean ', 'Fresnière', '1980’s GM Manhattan Express', 26, '2005-05-01'),
 ('Jean ',
  'Fresnière',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  27,
  '2005-05-01'),
 ('Jean ', 'Fresnière', '1982 Camaro Z28', 34, '2005-05-01'),
 ('Wales', 'MacKinlay', '1937 Lincoln Berline', 65, '2005-04-29'),
 ('Wales',
  'MacKinlay',
  '1936 Mercedes-Benz 500K Special Roadster',
  44,
  '2005-04-29'),
 ('Wales', 'MacKinlay', '1928 Mercedes-Benz SSK', 56, '2005-04-29'),
 ('Wales', 'MacKinlay', '1913 Ford Model T Speedster', 47, '2005-04-29'),
 ('Wales', 'MacKinlay', '1934 Ford V8 Coupe', 53, '2005-04-29'),
 ('Wales',
  'MacKinlay',
  '18th Century Vintage Horse Carriage',
  34,
  '2005-04-29'),
 ('Wales', 'MacKinlay', '1917 Maxwell Touring Car', 44, '2005-04-29'),
 ('Wales',
  'MacKinlay',
  '1938 Cadillac V-16 Presidential Limousine',
  31,
  '2005-04-29'),
 ('Wales', 'MacKinlay', '1936 Chrysler Airflow', 50, '2005-04-29'),
 ('Wendy', 'Victorino', '1932 Model A Ford J-Coupe', 6, '2005-04-23'),
 ('Wendy', 'Victorino', '1939 Chevrolet Deluxe Coupe', 61, '2005-04-23'),
 ('Akiko', 'Shimamura', '1936 Mercedes Benz 500k Roadster', 15, '2005-04-22'),
 ('Sue', 'Frick', '1965 Aston Martin DB5', 59, '2005-04-22'),
 ('Sue', 'Frick', '1917 Grand Touring Sedan', 76, '2005-04-22'),
 ('Sue', 'Frick', '1911 Ford Town Car', 42, '2005-04-22'),
 ('Sue', 'Frick', '1999 Indy 500 Monte Carlo SS', 41, '2005-04-22'),
 ('Sue', 'Frick', '1932 Alfa Romeo 8C2300 Spider Sport', 6, '2005-04-22'),
 ('Sue', 'Frick', '1957 Ford Thunderbird', 66, '2005-04-22'),
 ('Sue', 'Frick', '1970 Chevy Chevelle SS 454', 26, '2005-04-22'),
 ('Sue', 'Frick', '1966 Shelby Cobra 427 S/C', 64, '2005-04-22'),
 ('Sue', 'Frick', '1949 Jaguar XK 120', 76, '2005-04-22'),
 ('Sue', 'Frick', '1952 Citroen-15CV', 59, '2005-04-22'),
 ('Sue', 'Frick', '1969 Chevrolet Camaro Z28', 13, '2005-04-22'),
 ('Sue', 'Frick', '2002 Chevy Corvette', 43, '2005-04-22'),
 ('Jytte ', 'Petersen', '1993 Mazda RX-7', 61, '2005-04-15'),
 ('Jytte ', 'Petersen', '1995 Honda Civic', 48, '2005-04-15'),
 ('Jytte ', 'Petersen', '1948 Porsche Type 356 Roadster', 65, '2005-04-15'),
 ('Frédérique ', 'Citeaux', '1969 Dodge Charger', 97, '2005-04-14'),
 ('Frédérique ', 'Citeaux', '1948 Porsche 356-A Roadster', 61, '2005-04-14'),
 ('Frédérique ', 'Citeaux', '1992 Ferrari 360 Spider red', 55, '2005-04-14'),
 ('Frédérique ', 'Citeaux', '1982 Lamborghini Diablo', 47, '2005-04-14'),
 ('Frédérique ', 'Citeaux', '1956 Porsche 356A Coupe', 76, '2005-04-14'),
 ('Elizabeth',
  'Devon',
  '1969 Harley Davidson Ultimate Chopper',
  24,
  '2005-04-08'),
 ('Elizabeth',
  'Devon',
  '2003 Harley-Davidson Eagle Drag Bike',
  66,
  '2005-04-08'),
 ('Elizabeth', 'Devon', '2002 Suzuki XREO', 66, '2005-04-08'),
 ('Elizabeth', 'Devon', '1957 Vespa GS150', 36, '2005-04-08'),
 ('Elizabeth', 'Devon', '1997 BMW R 1100 S', 46, '2005-04-08'),
 ('Elizabeth', 'Devon', '1982 Ducati 900 Monster', 27, '2005-04-08'),
 ('Elizabeth', 'Devon', '1982 Ducati 996 R', 30, '2005-04-08'),
 ('Elizabeth', 'Devon', '1974 Ducati 350 Mk3 Desmo', 45, '2005-04-08'),
 ('Elizabeth', 'Devon', '2002 Yamaha YZR M1', 31, '2005-04-08'),
 ('Mike', 'Graham', '1968 Ford Mustang', 64, '2005-04-08'),
 ('Mike', 'Graham', '1968 Dodge Charger', 43, '2005-04-08'),
 ('Mike', 'Graham', '1970 Plymouth Hemi Cuda', 77, '2005-04-08'),
 ('Mike', 'Graham', '1969 Dodge Super Bee', 90, '2005-04-08'),
 ('Mike', 'Graham', '1976 Ford Gran Torino', 28, '2005-04-08'),
 ('Mike', 'Graham', '1957 Corvette Convertible', 48, '2005-04-08'),
 ('Mike', 'Graham', '1971 Alpine Renault 1600s', 49, '2005-04-08'),
 ('Mike', 'Graham', '1961 Chevrolet Impala', 48, '2005-04-08'),
 ('Dominique', 'Perrier', '1996 Moto Guzzi 1100i', 45, '2005-04-07'),
 ('Dominique',
  'Perrier',
  '1936 Harley Davidson El Knucklehead',
  55,
  '2005-04-07'),
 ('Dominique', 'Perrier', '1960 BSA Gold Star DBD34', 59, '2005-04-07'),
 ('William', 'Brown', 'P-51-D Mustang', 42, '2005-04-03'),
 ('William', 'Brown', '1928 British Royal Navy Airplane', 38, '2005-04-03'),
 ('William', 'Brown', 'Corsair F4U ( Bird Cage)', 64, '2005-04-03'),
 ('William', 'Brown', '1900s Vintage Tri-Plane', 52, '2005-04-03'),
 ('William', 'Brown', '1997 BMW F650 ST', 49, '2005-04-03'),
 ('William', 'Brown', '1928 Ford Phaeton Deluxe', 62, '2005-04-03'),
 ('William', 'Brown', '1930 Buick Marquette Phaeton', 56, '2005-04-03'),
 ('William', 'Brown', 'American Airlines: B767-300', 11, '2005-04-03'),
 ('William', 'Brown', 'America West Airlines B757-200', 85, '2005-04-03'),
 ('William', 'Brown', 'ATA: B757-300', 21, '2005-04-03'),
 ('William', 'Brown', 'F/A 18 Hornet 1/72', 77, '2005-04-03'),
 ('William', 'Brown', 'American Airlines: MD-11S', 40, '2005-04-03'),
 ('Sue', 'Frick', '1972 Alfa Romeo GTA', 64, '2005-04-01'),
 ('Sue', 'Frick', '1980s Black Hawk Helicopter', 34, '2005-04-01'),
 ('Sue', 'Frick', '1999 Yamaha Speed Boat', 30, '2005-04-01'),
 ('Sue', 'Frick', '1941 Chevrolet Special Deluxe Cabriolet', 58, '2005-04-01'),
 ('Sue', 'Frick', '1900s Vintage Bi-Plane', 24, '2005-04-01'),
 ('Sue', 'Frick', '1937 Horch 930V Limousine', 38, '2005-04-01'),
 ('Sue', 'Frick', '1940 Ford Delivery Sedan', 42, '2005-04-01'),
 ('Sue', 'Frick', 'HMS Bounty', 46, '2005-04-01'),
 ('Sue', 'Frick', 'Boeing X-32A JSF', 20, '2005-04-01'),
 ('Tony',
  'Snowden',
  '1969 Harley Davidson Ultimate Chopper',
  40,
  '2005-04-01'),
 ('Tony', 'Snowden', '1996 Moto Guzzi 1100i', 51, '2005-04-01'),
 ('Tony', 'Snowden', '2003 Harley-Davidson Eagle Drag Bike', 22, '2005-04-01'),
 ('Tony', 'Snowden', '2002 Suzuki XREO', 29, '2005-04-01'),
 ('Tony', 'Snowden', '1936 Harley Davidson El Knucklehead', 30, '2005-04-01'),
 ('Tony', 'Snowden', '1997 BMW R 1100 S', 57, '2005-04-01'),
 ('Tony', 'Snowden', '1960 BSA Gold Star DBD34', 58, '2005-04-01'),
 ('Tony', 'Snowden', '1997 BMW F650 ST', 32, '2005-04-01'),
 ('Paul ', 'Henriot', '1980s Black Hawk Helicopter', 33, '2005-03-30'),
 ('Paul ', 'Henriot', 'P-51-D Mustang', 34, '2005-03-30'),
 ('Paul ', 'Henriot', '1999 Yamaha Speed Boat', 28, '2005-03-30'),
 ('Paul ',
  'Henriot',
  '1941 Chevrolet Special Deluxe Cabriolet',
  45,
  '2005-03-30'),
 ('Paul ', 'Henriot', '1928 British Royal Navy Airplane', 43, '2005-03-30'),
 ('Paul ', 'Henriot', '1900s Vintage Bi-Plane', 28, '2005-03-30'),
 ('Paul ', 'Henriot', '1937 Horch 930V Limousine', 34, '2005-03-30'),
 ('Paul ', 'Henriot', 'Corsair F4U ( Bird Cage)', 41, '2005-03-30'),
 ('Paul ', 'Henriot', '1900s Vintage Tri-Plane', 45, '2005-03-30'),
 ('Paul ', 'Henriot', '1928 Ford Phaeton Deluxe', 22, '2005-03-30'),
 ('Paul ', 'Henriot', '1930 Buick Marquette Phaeton', 49, '2005-03-30'),
 ('Paul ', 'Henriot', 'American Airlines: B767-300', 47, '2005-03-30'),
 ('Paul ', 'Henriot', 'HMS Bounty', 36, '2005-03-30'),
 ('Paul ', 'Henriot', 'America West Airlines B757-200', 22, '2005-03-30'),
 ('Paul ', 'Henriot', 'ATA: B757-300', 23, '2005-03-30'),
 ('Paul ', 'Henriot', 'F/A 18 Hornet 1/72', 29, '2005-03-30'),
 ('Paul ', 'Henriot', 'American Airlines: MD-11S', 36, '2005-03-30'),
 ('Paul ', 'Henriot', 'Boeing X-32A JSF', 34, '2005-03-30'),
 ('Annette ', 'Roulet', 'The Mayflower', 32, '2005-03-28'),
 ('Annette ', 'Roulet', 'The USS Constitution Ship', 22, '2005-03-28'),
 ('Annette ', 'Roulet', 'The Titanic', 48, '2005-03-28'),
 ('Annette ', 'Roulet', 'The Queen Mary', 36, '2005-03-28'),
 ('Annette ', 'Roulet', 'Pont Yacht', 34, '2005-03-28'),
 ('Susan', 'Nelson', '1969 Ford Falcon', 33, '2005-03-23'),
 ('Susan', 'Nelson', '1903 Ford Model A', 33, '2005-03-23'),
 ('Susan', 'Nelson', 'Collectable Wooden Train', 24, '2005-03-23'),
 ('Susan', 'Nelson', '1904 Buick Runabout', 45, '2005-03-23'),
 ('Susan', 'Nelson', '18th century schooner', 49, '2005-03-23'),
 ('Susan', 'Nelson', '1912 Ford Model T Delivery Wagon', 27, '2005-03-23'),
 ('Susan', 'Nelson', '1940 Ford Delivery Sedan', 37, '2005-03-23'),
 ('Susan', 'Nelson', 'The Schooner Bluenose', 39, '2005-03-23'),
 ('Daniel', 'Da Silva', '1972 Alfa Romeo GTA', 32, '2005-03-17'),
 ('Daniel', 'Da Silva', '2001 Ferrari Enzo', 33, '2005-03-17'),
 ('Daniel', 'Da Silva', 'Diamond T620 Semi-Skirted Tanker', 46, '2005-03-17'),
 ('Daniel', 'Da Silva', '1962 City of Detroit Streetcar', 45, '2005-03-17'),
 ('Diego ', 'Freyre', '1992 Ferrari 360 Spider red', 22, '2005-03-15'),
 ('Diego ', 'Freyre', '1970 Triumph Spitfire', 37, '2005-03-15'),
 ('Diego ', 'Freyre', '1970 Dodge Coronet', 31, '2005-03-15'),
 ('Diego ', 'Freyre', '1958 Chevy Corvette Limited Edition', 46, '2005-03-15'),
 ('Diego ', 'Freyre', '1992 Porsche Cayenne Turbo Silver', 37, '2005-03-15'),
 ('Diego ', 'Freyre', '1954 Greyhound Scenicruiser', 36, '2005-03-15'),
 ('Diego ',
  'Freyre',
  "1950's Chicago Surface Lines Streetcar",
  30,
  '2005-03-15'),
 ('Mike', 'Graham', '1969 Corvair Monza', 35, '2005-03-11'),
 ('Mike', 'Graham', '1957 Chevy Pickup', 32, '2005-03-11'),
 ('Mike', 'Graham', '1998 Chrysler Plymouth Prowler', 20, '2005-03-11'),
 ('Mike', 'Graham', '1964 Mercedes Tour Bus', 38, '2005-03-11'),
 ('Mike', 'Graham', '1940s Ford truck', 30, '2005-03-11'),
 ('Mike', 'Graham', '1939 Cadillac Limousine', 44, '2005-03-11'),
 ('Mike', 'Graham', '1962 Volkswagen Microbus', 33, '2005-03-11'),
 ('Mike', 'Graham', '1936 Chrysler Airflow', 33, '2005-03-11'),
 ('Mike', 'Graham', '1980’s GM Manhattan Express', 38, '2005-03-11'),
 ('Mike',
  'Graham',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  31,
  '2005-03-11'),
 ('Mike', 'Graham', '1982 Camaro Z28', 21, '2005-03-11'),
 ('Roland ', 'Mendel', '1934 Ford V8 Coupe', 37, '2005-03-10'),
 ('Roland ',
  'Mendel',
  '18th Century Vintage Horse Carriage',
  29,
  '2005-03-10'),
 ('Roland ', 'Mendel', '1917 Maxwell Touring Car', 36, '2005-03-10'),
 ('Anna', "O'Hara", '1952 Alpine Renault 1300', 24, '2005-03-09'),
 ('Anna', "O'Hara", '1962 LanciaA Delta 16V', 37, '2005-03-09'),
 ('Anna', "O'Hara", '1958 Setra Bus', 39, '2005-03-09'),
 ('Anna', "O'Hara", '1940 Ford Pickup Truck', 29, '2005-03-09'),
 ('Anna', "O'Hara", '1937 Lincoln Berline', 35, '2005-03-09'),
 ('Anna',
  "O'Hara",
  '1936 Mercedes-Benz 500K Special Roadster',
  42,
  '2005-03-09'),
 ('Anna', "O'Hara", '1926 Ford Fire Engine', 44, '2005-03-09'),
 ('Anna', "O'Hara", '1913 Ford Model T Speedster', 32, '2005-03-09'),
 ('Anna', "O'Hara", '1939 Chevrolet Deluxe Coupe', 33, '2005-03-09'),
 ('Anna',
  "O'Hara",
  '1938 Cadillac V-16 Presidential Limousine',
  24,
  '2005-03-09'),
 ('Susan', 'Nelson', '1993 Mazda RX-7', 36, '2005-03-04'),
 ('Susan', 'Nelson', '1995 Honda Civic', 34, '2005-03-04'),
 ('Susan', 'Nelson', '1932 Model A Ford J-Coupe', 31, '2005-03-04'),
 ('Susan', 'Nelson', '1928 Mercedes-Benz SSK', 26, '2005-03-04'),
 ('Susan', 'Nelson', '1969 Dodge Super Bee', 40, '2005-03-04'),
 ('Susan', 'Nelson', '1976 Ford Gran Torino', 50, '2005-03-04'),
 ('Susan', 'Nelson', '1957 Vespa GS150', 36, '2005-03-04'),
 ('Susan', 'Nelson', '1957 Corvette Convertible', 49, '2005-03-04'),
 ('Susan', 'Nelson', '1982 Ducati 900 Monster', 35, '2005-03-04'),
 ('Susan', 'Nelson', '1982 Lamborghini Diablo', 37, '2005-03-04'),
 ('Susan', 'Nelson', '1971 Alpine Renault 1600s', 46, '2005-03-04'),
 ('Susan', 'Nelson', '1956 Porsche 356A Coupe', 45, '2005-03-04'),
 ('Susan', 'Nelson', '1961 Chevrolet Impala', 30, '2005-03-04'),
 ('Susan', 'Nelson', '1982 Ducati 996 R', 41, '2005-03-04'),

## Summary

In this lab, you practiced your knowledge of one-to-many and many-to-many relationships!